/* 
  MAIN COLOR: #e67e22
*/

/* ------------------------------------ */
/* BASIC SETUPS */
/* ------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* -----HEADINGS----- */
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 240%;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 180%;
  letter-spacing: 1px;
  word-spacing: 2px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #e67e22;
  margin: 0 auto;
  margin-top: 30px;
}

/* -----PARAGRAPHS----- */
.long-copy {
  width: 70%;
  margin-left: 15%;
  line-height: 140%;
  margin-bottom: 30px;
}

.box p {
  line-height: 145%;
  font-size: 90%;
}

/* ----ICONS---- */
.icon-big {
  font-size: 250%;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  color: #e67e22;
  margin-right: 10px;
  font-size: 120%;

  /* Secret to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* -----LINKS------- */
a:link,
a:visited {
  text-decoration: none;
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
  padding-bottom: 2px;
  transition: all 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 2px solid transparent;
}

/* -----BUTTONS----- */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 200px;
  font-weight: 300;
  transition: all 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  color: #fff;
  border: 1px solid #e67e22;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
  border: 1px solid #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover {
  border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
  border: 1px solid #cf6d17;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* -----NAVIGATION----- */
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/* ------------------------------------ */
/* MEAL SECTION */
/* ------------------------------------ */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  width: 25%;
  float: left;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* ------------------------------------ */
/* SECTION HOW IT WORKS*/
/* ------------------------------------ */

.section-steps {
  background-color: #f4f4f4;
}

.steps-box {
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.work-steps {
  margin-bottom: 50px;
}

.work-steps:last-of-type {
  margin-bottom: 80px;
}

.work-steps div {
  color: #e67e22;
  border: 2px solid #e67e22;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  font-size: 150%;
  display: inline-block;
  float: left;
  margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------------ */
/* SECTION CITIES */
/* ------------------------------------ */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 5px;
}

/* ------------------------------------ */
/* SECTION TESTIMONIAL */
/* ------------------------------------ */
.section-testimonial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

blockquote {
  font-style: italic;
  line-height: 140%;
  display: block;
  padding: 2%;
  position: relative;
}

blockquote::before {
  content: "\201C";
  font-size: 500%;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  display: block;
  margin-top: 40px;
  font-size: 90%;
}

cite img {
  height: 45px;
  width: auto;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

/* ------------------------------------ */
/* SIGN UP SECTION */
/* ------------------------------------ */

.section-signup {
  background-color: #f4f4f4;
}

.plan-box {
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  border: 0;
  text-align: center;
}

.plan-price {
  font-size: 300%;
  font-weight: 100;
  margin-bottom: 10px;
  color: #e67e22;
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 100%;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

/* ------------------------------------ */
/* CONTACT FORM */
/* ------------------------------------ */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

textarea {
  height: 100px;
}

*:focus {
  outline: none;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */

footer {
  background-color: #3d3d3d;
  font-size: 80%;
  padding: 55px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 15px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  color: #888;
  border: 0;
  transition: all 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 150%;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}
.facebook-icon,
.twitter-icon,
.instagram-icon,
.google-icon {
  transition: all 0.2s;
}

.facebook-icon:hover,
.facebook-icon:active {
  color: #4267b2;
}

.twitter-icon:hover,
.twitter-icon:active {
  color: #00acee;
}

.instagram-icon:hover,
.instagram-icon:active {
  color: #3f729b;
}

.google-icon:hover,
.google-icon:active {
  color: #4285f4;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
